[submodule "nvim/pack/plugins/start/nerdtree"]
	path = nvim/pack/plugins/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "nvim/pack/plugins/start/nerdtree-git-plugin"]
	path = nvim/pack/plugins/start/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule "nvim/pack/plugins/start/vim-devicons"]
	path = nvim/pack/plugins/start/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
[submodule "nvim/pack/plugins/start/vim-nerdtree-syntax-highlight"]
	path = nvim/pack/plugins/start/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight
[submodule "nvim/pack/plugins/start/rust.vim"]
	path = nvim/pack/plugins/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "nvim/pack/plugins/start/vim-racer"]
	path = nvim/pack/plugins/start/vim-racer
	url = git@github.com:racer-rust/vim-racer.git
[submodule "nvim/pack/plugins/start/indentLine"]
	path = nvim/pack/plugins/start/indentLine
	url = git@github.com:Yggdroot/indentLine.git
[submodule "nvim/pack/plugins/start/nord-vim"]
	path = nvim/pack/plugins/start/nord-vim
	url = git@github.com:arcticicestudio/nord-vim.git
[submodule "nvim/pack/plugins/start/vim-vue"]
	path = nvim/pack/plugins/start/vim-vue
	url = git@github.com:posva/vim-vue.git
[submodule "nvim/pack/plugins/start/vim-go"]
	path = nvim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "nvim/pack/plugins/start/ctrlp.vim"]
	path = nvim/pack/plugins/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "nvim/pack/plugins/start/ack.vim"]
	path = nvim/pack/plugins/start/ack.vim
	url = git@github.com:mileszs/ack.vim.git
