
# adding by inclusion
*

!.gitignore

# !alacritty
!alacritty
!alacritty/**/*

!nvim
!nvim/**/*

!taskell
!taskell/**/*

!mypath
!mypath/**/*

!htop
!htop/**/*

!bat
!bat/**/*

!Code
!Code/User
!Code/User/settings.json

*.spl
*.sug

